$pink: #ED688D;
$blue: #47B1E4;
$yellow: #FFC65A;
$orange: #F06D4F;
$green: #09B1AB;
$dark: #010A33;
$light: #ffefd4;
$red: red;
$gray: #686868;
$white: #FAFAFA;
// #FAFAFA white
// #E8F1F5 light grey
// #005691 blue
// #004A7C dark blue
