<%= render "shared/header" %>
<%= render "shared/hero" %>
<!-- SECTION LATEST ARTICLES -->
<div class="mx-auto bg-[#E8F1F5] py-10">
  <div class="text-center">
    <h1 class="text-3xl">Discover our latest articles</h1>
  </div>
</div>
<%= render "shared/footer" %>
